.dark {
  background-color: #000 !important;
  color: #fff !important;
  height: 40px;
  padding: 0px 30px !important;
  width: auto;
  font-size: 14px;
  border-radius: 5px !important;
}
.light {
  background-color: #fff !important;
  color: #000 !important;
  height: 40px;
  padding: 0px 30px !important;
  width: auto;
  font-size: 14px;
  border-radius: 5px !important;
}
.blue {
  background-color: #1890ff !important;
  color: #fff !important;
  height: 40px;
  padding: 0px 30px !important;
  width: auto;
  font-size: 14px;
  border-radius: 5px !important;
  border-color: #1890ff !important;
}

.btn-default {
  width: auto !important;
}
