.ant-modal-body{
    padding-top: 60px !important;
}
.ant-modal-close{
    color: #000 !important;
}
.ant-form-item-label{
    width: 120px;
    text-align: left !important;
    font-weight: 500;
}
input{
    height: 40px !important;
    border-radius: 5px !important;
}
.ant-select-selector{
   height: 40px !important;
   padding: 4px 11px !important;
   border-radius: 5px !important;
}